.book-list {
  margin-left: 1em;
  margin-right: 1em;
}

.book-item {
  margin-top: 0.3em;
  margin-bottom: 0.9em;
}

.book-item-title {
  font-size: 1.8em;
  line-height: 1.2em;
}

.book-item-subtitle {
  font-size: 1.2em;
  line-height: 1.2em;
}
